@use "../abstracts/colors" as *;

.item section.summary.tab {
  .sidebar-card {
    width: max(30%, 190px);
    min-width: 190px;
    gap: 10px;

    .portrait .profile-img {
      min-height: 160px;
      max-height: 230px;
      width: 100%;
    }
  }

  .body-container {
    width: max(70%, 200px);
    min-width: 200px;
    margin-left: 10px;
    gap: 5px;
  }
}