.pokeymanz.sheet .display {
    &--flex {
        display: flex;

        &--row {
            @extend .display--flex;
            flex-direction: row;
        }

        &--col {
            @extend .display--flex;
            flex-direction: column;
        }

        &--center {
            @extend .display--flex;
            justify-content: center;
            align-items: center;
        }

        &--end {
            @extend .display--flex;
            justify-content: flex-end;
            align-items: flex-end;
        }

        &--space-between {
            @extend .display--flex;
            justify-content: space-between;
        }

        &--space-evenly {
            @extend .display--flex;
            justify-content: space-evenly;
        }

    }

}