@use "../abstracts" as *;

.pokeymanz .card {
  background: var(--card-color);
  margin: 5px;
  margin-bottom: auto;
  padding: 15px;
  border-radius: 15px;

  box-shadow: 0 0 0.4em;
  -moz-box-shadow: 0 0 0.4em;
  -webkit-box-shadow: 0 0 0.4em;

  .portrait .profile-img {
    border-radius: 10px;
    border: 4px solid $pokeymanz-c-red;
    object-fit: cover;
    object-position: top center;
  }
}