@use '../abstracts' as *;

.pokeymanz .item-type-fields {
    gap: 0.5rem;
    margin: 0.3rem 0;

    .item-type-badge {
        width: auto;
        white-space: nowrap;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0 0 2px;
        line-height: inherit;
        font-size: 1rem;
        font-family: $pokeymanz-font-itemtype;
        font-weight: bold;

        &:disabled {
            appearance: none;
            padding: 0 0.5rem;
        }
    }
}