@use '../abstracts' as *;

.type-select-container select {
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 0 0 2px;
    font-size: 18px;
    height: 25px;
    text-align: center;
    font-weight: bold;
    color: var(--text-color);
    option {
        text-align: left;
    }
}