@use '../abstracts' as *;

.pokeymanz .type-badge {
    background-color: var(--type-color);
    border-radius: 25px;
    border: 3px solid white;
    box-shadow: 0 0 0.2rem;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.8rem;
    color: white;
    transition: 500ms;
    margin: 0 2px;
    filter: saturate(0.7);

    & img {
        border: 0;
        height: 1.5rem;
    }

    & span {
        font-size: 1.2rem;
        font-weight: bold;
    }

    &:hover {
        transform: scale(1.1);
        filter: saturate(1.1);
    }
}