<div class="pokemon-card card flex-col">
  <div class="portrait">
    <img class="profile-img" src="{{pokemon.img}}" data-edit="img" data-action={{ifThen isPlayMode "renderIP" "setImg" }}
      alt="{{pokemon.name}}" title="{{pokemon.name}}" />
  </div>
  
</div>