@use "../../abstracts" as *;

.attributes-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(90px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    margin: 5px 0;

    // Attribute colors list
    $attributes-list: (
        "heart": $pokeymanz-c-heart,
        "research": $pokeymanz-c-research,
        "fitness": $pokeymanz-c-fitness,
        "tactics": $pokeymanz-c-tactics,
    );

    // Apply colors for each attribute
    @each $attribute, $color in $attributes-list {
        .#{$attribute} {
            --attribute-color: #{$color};
        }
    }

    .rollable-button,
    .rollable-inputs {
        background: var(--attribute-color);
    }

}