section.summary.tab {
    display: flex !important;

    .character-card {
        padding: 15px;
        display: flex;
        border-radius: 15px;
        margin: 2em 1em;
        background-color: var(--card-color);
        box-shadow: 0 0 0.4em;
        overflow-x: auto;
        width: 100%;

        .sidebar-card {
            width: max(30%, 200px);

            .portrait {
                .profile-img {
                    border-radius: 10px;
                    border: 0.3em solid;
                    object-fit: cover;
                    object-position: top center;
                    min-height: 200px;
                    max-height: 280px;
                    width: 100%;
                }
            }

            .attributes-container {
                display: grid;
                grid-template-columns: repeat(2, minmax(90px, 1fr));
                grid-template-rows: repeat(2, 1fr);
                margin: 5px 0;
                gap: 15px;

                .attribute-container {
                    align-items: center;
                    border: 2px groove;
                    border-radius: 5px;
                    transition: 200ms;
                    color: white;
                    filter: saturate(0.5);

                    &:hover {
                        text-shadow: none;
                        filter: saturate(1.1);
                        transform: scale(1.1);
                    }

                    // Attribute colors list
                    $attributes-list: (
                        "heart": $pokeymanz-c-heart,
                        "research": $pokeymanz-c-research,
                        "fitness": $pokeymanz-c-fitness,
                        "tatics": $pokeymanz-c-tatics
                    );

                // Apply colors for each attribute
                @each $attribute, $color in $attributes-list {
                    &.#{$attribute} {
                        border-color: transparent;
                        box-shadow: 0px 0px 5px $color;
                        background-color: $color;
                    }
                }

                label {
                    font-family: var(--pokeymanz-font-label);
                    height: 1rem;
                    font-size: 1rem;
                    cursor: inherit;
                }

                .attribute-roll {
                    font-family: var(--pokeymanz-font-title);
                    font-size: 2.5rem;
                    width: 90%;
                    display: flex;
                    justify-content: center;
                    border-radius: 3px;
                    font-weight: bold;

                    img {
                        border: 0;
                        width: 2rem;
                        transition: 200ms;
                        filter: invert(1);
                    }
                }
            }
        }
    }

    .body-card {
        min-width: 450px;
        margin-left: 15px;
        gap: 5px;

        .charname {
            font-weight: bold;
            font-family: $pokeymanz-font-title;
            font-size: 3.5rem;
            color: $pokeymanz-c-white;
            margin: 0.1em 0;
            background-color: black-opacity(0.1);
            border: 2px solid;
            height: auto;

            &:disabled {
                border: 0;
                background-color: transparent;
            }

            &:focus {
                outline: none;
                background-color: black-opacity(0.2);
            }
        }

        .types-container {
            display: flex;
            gap: 0.5rem;
            align-items: center;
        }
    }
}
}