section.summary.tab {
    overflow-y: auto;

    .character-card {
        overflow-y: auto;
        padding: 15px;
        display: flex;
        border-radius: 15px;
        margin: 2em 1em;
        background-color: var(--card-color);
        box-shadow: 0 0 0.4em;

        .sidebar-card {
            width: max(30%, 200px);

            .portrait {
                .profile-img {
                    border-radius: 10px;
                    border: 0.3em solid;
                    object-fit: cover;
                    object-position: top center;
                    min-height: 200px;
                    max-height: 280px;
                    width: 100%;
                }

                .stat-bar {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    margin: 0.4rem 0;

                    .stat-container {
                        display: flex;
                        align-items: center;
                        border-radius: 0.3rem;
                        border: 3px solid;

                        .stat-input {
                            font-size: 1.5rem;
                            height: 1.5rem;
                            width: 2.5ch;
                            border: 0;
                            padding: 0;
                            text-align: center;
                            color: white;
                            background-color: black-opacity(0.1);

                            &:focus,
                            &:hover {
                                background-color: black-opacity(0.2);
                                outline: none;
                                box-shadow: none;
                            }

                            &:disabled {
                                background-color: transparent;
                            }
                        }

                        .stat-icon {
                            font-size: 1.3rem;
                            margin: 0 0.2rem;
                        }

                        &.toughtness-container {
                            border-color: $pokeymanz-c-toughness-1;
                            background-color: $pokeymanz-c-toughness-2;
                            box-shadow: 0 0 5px $pokeymanz-c-toughness-2;

                            .stat-icon {
                                color: $pokeymanz-c-toughness-1;
                            }
                        }

                        &.wounds-container {
                            border-color: $pokeymanz-c-wounds-1;
                            background-color: $pokeymanz-c-wounds-2;
                            box-shadow: 0 0 5px $pokeymanz-c-wounds-2;

                            .stat-icon {
                                color: $pokeymanz-c-wounds-1;
                            }

                            .wound-input-container {
                                display: flex;
                            }

                            span {
                                font-size: 1.51rem;
                                height: 1.5rem;
                                color: $pokeymanz-c-wounds-1;
                                font-weight: bold;
                                line-height: 1;
                            }
                        }
                    }

                }
            }

            .attributes-container,
            .attributes-container-edit {
                // Attribute colors list
                $attributes-list: (
                    "heart": $pokeymanz-c-heart,
                    "research": $pokeymanz-c-research,
                    "fitness": $pokeymanz-c-fitness,
                    "tactics": $pokeymanz-c-tactics
                );

            // Apply colors for each attribute
            @each $attribute, $color in $attributes-list {
                .#{$attribute} {
                    --attribute-color: #{$color};
                }
            }
        }

        .attributes-container {
            display: grid;
            grid-template-columns: repeat(2, minmax(90px, 1fr));
            grid-template-rows: repeat(2, 1fr);
            gap: 15px;
            margin: 5px 0;

            .attribute-label {
                font-family: var(--pokeymanz-font-label);
                height: 1.2rem;
                font-size: 0.9rem;
                cursor: inherit;
            }

            .attribute-container {
                align-items: center;
                border-radius: 5px;
                transition: 200ms;
                color: white;
                filter: saturate(0.8);
                box-shadow: 0 0 5px var(--attribute-color);
                background-color: var(--attribute-color);

                &:hover {
                    filter: saturate(1.1);
                    transform: scale(1.1);
                    text-shadow: none;
                }

                .attribute-roll {
                    font-family: var(--pokeymanz-font-title);
                    font-size: 2rem;
                    width: 90%;
                    display: flex;
                    justify-content: center;
                    font-weight: bold;

                    img {
                        width: 2rem;
                        filter: invert(1);
                        transition: 200ms;
                        border: 0;
                    }
                }
            }
        }

        .attributes-container-edit {
            width: 100%;
            min-width: 200px;
            margin: 5px 0;

            .attributes-container {
                display: flex;
                flex-direction: column;
                gap: 5px;
                border: 4px solid var(--attribute-color);
                background-color: var(--attribute-color);
                color: white;
                border-radius: 10px;
                padding: 5px;

                .attribute-label {
                    font-size: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .attributes-inputs {
                    gap: 15px;
                    display: flex;

                    select.attribute-side,
                    input.attribute-mod {
                        text-align: center;
                        font-size: 1.4rem;
                        color: white;
                        background-color: rgba(0, 0, 0, 0.2);
                        border: 0;
                        padding: 0 0.5ch;

                        &.attribute-side {
                            width: 5.3ch;
                        }

                        &.attribute-mod {
                            width: 3.3ch;
                        }
                    }
                }
            }
        }
    }

    .body-card {
        min-width: 450px;
        margin-left: 15px;
        gap: 5px;

        .charname {
            font-weight: bold;
            font-family: var(--pokeymanz-font-title);
            font-size: 3.5rem;
            color: var(--pokeymanz-c-white);
            margin: 0.1em 0;
            background-color: rgba(0, 0, 0, 0.1);
            border: 2px solid;
            height: auto;

            &:disabled {
                background-color: transparent;
                border: 0;
            }

            &:focus {
                outline: none;
                background-color: rgba(0, 0, 0, 0.2);
            }
        }

        .types-container {
            display: flex;
            gap: 0.5rem;
            align-items: center;
        }
    }
}
}