.type-select-container select {
    border-radius: 25px;
    border: 2px solid;
    box-shadow: 0 0 0.4em;
    margin: 0 0.2rem;
    width: 90%;
    font-size: 1.1rem;
    text-align: center;
    font-weight: bold;

    .theme-light & {
        color: black;
    }
}