@use "./abstracts" as *;

.pokeymanz.sheet {
  background-color: var(--background-color);

  header.window-header {
      border: 0;
      background-color: $pokeymanz-c-red;
  }

  section.window-content {
      padding: 0;
      overflow: auto;
      scrollbar-color: $pokeymanz-c-red rgba(#000000, 0.3);
  }

  section.tab {
      margin: 10px;
  }
}