@import 'globals/colors';
@import 'globals/fonts';

.pokeymanz {
    &.sheet {
        .theme-light & {
            background-color: $pokeymanz-c-white;
            --card-color: var(--pokeymanz-color-card-light);
        }

        .theme-dark & {
            background-color: $pokeymanz-c-black;
            --card-color: var(--pokeymanz-color-card-dark);
        }

        section.window-content {
            padding: 0;
        }

        @import 'components/commons/commons';
        @import 'components/header';

        section.summary.tab {
            overflow-y: auto;
            margin: 2em 1em;
            @import 'components/actor-sheet/character-card';
            @import 'components/item-sheet/summary-header';
        }

    }
}