<section class="tab summary {{tab.cssClass}}" data-group="primary" data-tab="inventory">
    <div class="inventory-table">
        <ol class="items-list inventory-list">
            <li class="items-header flexrow">
                <h3 class="item-name flexrow">Names</h3>
                <div class="item-detail item-action">Use</div>
                <div class="item-controls flexrow"></div>
            </li>
            <ol class="item-list">
                <li class="item flexrow">

                </li>
            </ol>
        </ol>
    </div>
</section>