@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&family=Signika+Negative:wght@300..700&display=swap");
.pokeymanz {
  --pokeymanz-color-ui-red: #C6242C;
  --pokeymanz-color-ui-white: #fbfbfb !important;
  --pokeymanz-color-ui-black: #383939 !important;
  --pokeymanz-color-card-light: #818078;
  --pokeymanz-color-card-dark: #222222;
  --pokeymanz-color-research: #2c94bb;
  --pokeymanz-color-heart: #ff3750;
  --pokeymanz-color-tactics: #087608;
  --pokeymanz-color-fitness: #f86522;
  --pokeymanz-color-toughness-primmary: #002b77;
  --pokeymanz-color-toughness-secondary: #3f6ab8;
  --pokeymanz-color-wounds-primmary: #941100;
  --pokeymanz-color-wounds-secondary: #ce3922;
}

.pokeymanz {
  --pokeymanz-font-title: "Signika", "Palatino Linotype", sans-serif;
  --pokeymanz-font-label: "Sigmar One", sans-serif;
}

.theme-light .pokeymanz.sheet {
  background-color: var(--pokeymanz-color-ui-white);
  --card-color: var(--pokeymanz-color-card-light);
}
.theme-dark .pokeymanz.sheet {
  background-color: var(--pokeymanz-color-ui-black);
  --card-color: var(--pokeymanz-color-card-dark);
}
.pokeymanz.sheet section.window-content {
  padding: 0;
}
.pokeymanz.sheet .type-badge {
  background-color: var(--type-color);
  border-radius: 25px;
  border: 3px solid white;
  box-shadow: 0 0 0.2rem;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.8rem;
  color: white;
  transition: 500ms;
  filter: saturate(0.7);
}
.pokeymanz.sheet .type-badge img {
  border: 0;
  height: 1.5rem;
}
.pokeymanz.sheet .type-badge span {
  font-size: 1.2rem;
  font-weight: bold;
}
.pokeymanz.sheet .type-badge:hover {
  box-shadow: 0 0 0.4rem;
  transform: scale(1.1);
  filter: saturate(1.1);
}
.pokeymanz.sheet .type-select-container select {
  border-radius: 25px;
  border: 2px solid;
  box-shadow: 0 0 0.4em;
  margin: 0 0.2rem;
  width: 90%;
  font-size: 1.1rem;
  text-align: center;
  font-weight: bold;
}
.theme-light .pokeymanz.sheet .type-select-container select {
  color: black;
}
.pokeymanz.sheet input.document-name {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: var(--pokeymanz-font-title);
  margin: 0.1em 0;
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid;
  height: auto;
}
.pokeymanz.sheet input.document-name:disabled {
  background-color: transparent;
  border: 0;
}
.pokeymanz.sheet input.document-name:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
}
.pokeymanz.sheet header.window-header {
  border: 0;
  background-color: var(--pokeymanz-color-ui-red);
}
.pokeymanz.sheet .sheet-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
.pokeymanz.sheet .sheet-header .edit-switch-contianer {
  position: absolute;
  top: calc(50% - 0.45rem);
  left: 0.5rem;
  display: flex;
  align-items: center;
  color: var(--pokeymanz-color-ui-red);
}
.pokeymanz.sheet .sheet-header .edit-switch-contianer .switch-icon {
  font-size: 0.7rem;
  transition: 500ms;
  opacity: 0.7;
}
.pokeymanz.sheet .sheet-header .edit-switch-contianer .switch-icon.active {
  transform: scale(1.2);
  opacity: 1;
}
.pokeymanz.sheet .sheet-header .edit-switch-contianer .switch-btn {
  height: 1.4rem;
  font-size: 1.4rem;
  margin: 0 4px;
}
.pokeymanz.sheet .sheet-header .sheet-tabs {
  background-color: var(--pokeymanz-color-ui-red);
  clip-path: polygon(100% 0, 100% 100%, 1.5rem 100%, 0 0);
  width: 40%;
  margin: 0;
  border: 0;
  padding-left: 1rem;
}
.pokeymanz.sheet .sheet-header .sheet-tabs .tab-icon-button {
  font-size: 1.3rem;
  color: var(--pokeymanz-color-ui-white);
  opacity: 0.6;
  transition: 800ms;
}
.pokeymanz.sheet .sheet-header .sheet-tabs .tab-icon-button.active {
  text-shadow: none;
  transform: scale(1.3);
  opacity: 1;
}
.pokeymanz.sheet section.summary.tab {
  overflow-y: auto;
  margin: 2em 1em;
}
.pokeymanz.sheet section.summary.tab .character-card {
  overflow-y: auto;
  padding: 15px;
  display: flex;
  border-radius: 15px;
  background-color: var(--card-color);
  margin: 0.4rem;
  box-shadow: 0 0 0.4em;
  -moz-box-shadow: 0 0 0.4em;
  -webkit-box-shadow: 0 0 0.4em;
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card {
  width: max(30%, 200px);
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .portrait .profile-img {
  border-radius: 10px;
  border: 0.3em solid;
  object-fit: cover;
  object-position: top center;
  min-height: 200px;
  max-height: 280px;
  width: 100%;
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .portrait .stat-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0.4rem 0;
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .portrait .stat-bar .stat-container {
  display: flex;
  align-items: center;
  border-radius: 0.3rem;
  border: 3px solid;
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .portrait .stat-bar .stat-container .stat-input {
  font-size: 1.5rem;
  height: 1.5rem;
  width: 2.5ch;
  border: 0;
  padding: 0;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .portrait .stat-bar .stat-container .stat-input:focus, .pokeymanz.sheet section.summary.tab .character-card .sidebar-card .portrait .stat-bar .stat-container .stat-input:hover {
  background-color: rgba(0, 0, 0, 0.2);
  outline: none;
  box-shadow: none;
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .portrait .stat-bar .stat-container .stat-input:disabled {
  background-color: transparent;
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .portrait .stat-bar .stat-container .stat-icon {
  font-size: 1.3rem;
  margin: 0 0.2rem;
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .portrait .stat-bar .stat-container.toughtness-container {
  border-color: var(--pokeymanz-color-toughness-primmary);
  background-color: var(--pokeymanz-color-toughness-secondary);
  box-shadow: 0 0 5px var(--pokeymanz-color-toughness-secondary);
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .portrait .stat-bar .stat-container.toughtness-container .stat-icon {
  color: var(--pokeymanz-color-toughness-primmary);
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .portrait .stat-bar .stat-container.wounds-container {
  border-color: var(--pokeymanz-color-wounds-primmary);
  background-color: var(--pokeymanz-color-wounds-secondary);
  box-shadow: 0 0 5px var(--pokeymanz-color-wounds-secondary);
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .portrait .stat-bar .stat-container.wounds-container .stat-icon {
  color: var(--pokeymanz-color-wounds-primmary);
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .portrait .stat-bar .stat-container.wounds-container .wound-input-container {
  display: flex;
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .portrait .stat-bar .stat-container.wounds-container span {
  font-size: 1.51rem;
  height: 1.5rem;
  color: var(--pokeymanz-color-wounds-primmary);
  font-weight: bold;
  line-height: 1;
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .attributes-container .heart,
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .attributes-container-edit .heart {
  --attribute-color: var(--pokeymanz-color-heart);
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .attributes-container .research,
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .attributes-container-edit .research {
  --attribute-color: var(--pokeymanz-color-research);
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .attributes-container .fitness,
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .attributes-container-edit .fitness {
  --attribute-color: var(--pokeymanz-color-fitness);
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .attributes-container .tactics,
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .attributes-container-edit .tactics {
  --attribute-color: var(--pokeymanz-color-tactics);
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .attributes-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(90px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  margin: 5px 0;
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .attributes-container .attribute-label {
  font-family: var(--pokeymanz-font-label);
  height: 1.2rem;
  font-size: 0.9rem;
  cursor: inherit;
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .attributes-container .attribute-container {
  align-items: center;
  border-radius: 5px;
  transition: 200ms;
  color: white;
  filter: saturate(0.8);
  box-shadow: 0 0 5px var(--attribute-color);
  background-color: var(--attribute-color);
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .attributes-container .attribute-container:hover {
  filter: saturate(1.1);
  transform: scale(1.1);
  text-shadow: none;
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .attributes-container .attribute-container .attribute-roll {
  font-family: var(--pokeymanz-font-title);
  font-size: 2rem;
  width: 90%;
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .attributes-container .attribute-container .attribute-roll img {
  width: 2rem;
  filter: invert(1);
  transition: 200ms;
  border: 0;
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .attributes-container-edit {
  width: 100%;
  min-width: 200px;
  margin: 5px 0;
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .attributes-container-edit .attributes-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 4px solid var(--attribute-color);
  background-color: var(--attribute-color);
  color: white;
  border-radius: 10px;
  padding: 5px;
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .attributes-container-edit .attributes-container .attribute-label {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .attributes-container-edit .attributes-container .attributes-inputs {
  gap: 15px;
  display: flex;
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .attributes-container-edit .attributes-container .attributes-inputs select.attribute-side,
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .attributes-container-edit .attributes-container .attributes-inputs input.attribute-mod {
  text-align: center;
  font-size: 1.4rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  border: 0;
  padding: 0 0.5ch;
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .attributes-container-edit .attributes-container .attributes-inputs select.attribute-side.attribute-side,
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .attributes-container-edit .attributes-container .attributes-inputs input.attribute-mod.attribute-side {
  width: 5.3ch;
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .attributes-container-edit .attributes-container .attributes-inputs select.attribute-side.attribute-mod,
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .attributes-container-edit .attributes-container .attributes-inputs input.attribute-mod.attribute-mod {
  width: 3.3ch;
}
.pokeymanz.sheet section.summary.tab .character-card .body-card {
  min-width: 450px;
  margin-left: 15px;
  gap: 5px;
}
.pokeymanz.sheet section.summary.tab .character-card .body-card input.document-name {
  font-size: 3.5rem;
}
.pokeymanz.sheet section.summary.tab .character-card .body-card .types-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.pokeymanz.sheet section.summary.tab .summary-header {
  display: flex;
  --profile-img-width: max(20%, 130px);
}
.pokeymanz.sheet section.summary.tab .summary-header .portrait {
  width: calc(var(--profile-img-width) + 1rem);
  padding: 0 0.5rem;
}
.pokeymanz.sheet section.summary.tab .summary-header .portrait .profile-img {
  border-radius: 10px;
  border: 0.3em solid;
  object-fit: cover;
  object-position: top center;
  width: var(--profile-img-width);
  height: var(--profile-img-width);
  max-height: 200px;
}
.pokeymanz.sheet section.summary.tab .summary-header .summary-inputs {
  width: calc(100% - var(--profile-img-width) - 1rem);
}
.pokeymanz.sheet section.summary.tab .summary-header .summary-inputs input.document-name {
  font-size: 3rem;
}
.pokeymanz.sheet section.summary.tab .summary-header .item-type-fields {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.3rem 0;
}
.pokeymanz.sheet section.summary.tab .summary-header .item-type-fields .item-type-badge {
  line-height: 24px;
  padding: 0 10px 0 12px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 0 2px;
  box-shadow: 0 0 2px;
  font-size: 0.9rem;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  text-decoration: none;
  text-shadow: 0 0 2px;
  font-weight: bold;
}
