@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&family=Signika+Negative:wght@300..700&display=swap");
.pokeymanz {
  --pokeymanz-color-ui-red: #C6242C;
  --pokeymanz-color-ui-white: #fbfbfb !important;
  --pokeymanz-color-ui-black: #383939 !important;
  --pokeymanz-color-card-light: #818078;
  --pokeymanz-color-card-dark: #222222;
  --pokeymanz-color-research: #2c94bb;
  --pokeymanz-color-heart: #ff3750;
  --pokeymanz-color-tatics: #087608;
  --pokeymanz-color-fitness: #f86522;
}

.pokeymanz {
  --pokeymanz-font-title: "Signika", "Palatino Linotype", sans-serif;
  --pokeymanz-font-label: "Sigmar One", sans-serif;
}

.theme-light .pokeymanz.sheet {
  background-color: var(--pokeymanz-color-ui-white);
  --card-color: var(--pokeymanz-color-card-light);
}
.theme-dark .pokeymanz.sheet {
  background-color: var(--pokeymanz-color-ui-black);
  --card-color: var(--pokeymanz-color-card-dark);
}
.pokeymanz.sheet section.window-content {
  padding: 0;
}
.pokeymanz.sheet header.window-header {
  border: 0;
  background-color: var(--pokeymanz-color-ui-red);
}
.pokeymanz.sheet .sheet-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
.pokeymanz.sheet .sheet-header .edit-switch-contianer {
  position: absolute;
  top: calc(50% - 0.45rem);
  left: 0.5rem;
  display: flex;
  align-items: center;
  color: var(--pokeymanz-color-ui-red);
}
.pokeymanz.sheet .sheet-header .edit-switch-contianer .switch-icon {
  font-size: 0.7rem;
  transition: 500ms;
  opacity: 0.7;
}
.pokeymanz.sheet .sheet-header .edit-switch-contianer .switch-icon.active {
  transform: scale(1.2);
  opacity: 1;
}
.pokeymanz.sheet .sheet-header .edit-switch-contianer .switch-btn {
  height: 1.4rem;
  font-size: 1.4rem;
  margin: 0 4px;
}
.pokeymanz.sheet .sheet-header .sheet-tabs {
  background-color: var(--pokeymanz-color-ui-red);
  clip-path: polygon(100% 0, 100% 100%, 1.5rem 100%, 0 0);
  width: 40%;
  margin: 0;
  border: 0;
  padding-left: 1rem;
}
.pokeymanz.sheet .sheet-header .sheet-tabs .tab-icon-button {
  font-size: 1.3rem;
  color: var(--pokeymanz-color-ui-white);
  opacity: 0.6;
  transition: 800ms;
}
.pokeymanz.sheet .sheet-header .sheet-tabs .tab-icon-button.active {
  text-shadow: none;
  transform: scale(1.3);
  opacity: 1;
}
.pokeymanz.sheet section.summary.tab {
  display: flex !important;
}
.pokeymanz.sheet section.summary.tab .character-card {
  padding: 15px;
  display: flex;
  border-radius: 15px;
  margin: 2em 1em;
  background-color: var(--card-color);
  box-shadow: 0 0 0.4em;
  overflow-x: auto;
  width: 100%;
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card {
  width: max(30%, 200px);
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .portrait .profile-img {
  border-radius: 10px;
  border: 0.3em solid;
  object-fit: cover;
  object-position: top center;
  min-height: 200px;
  max-height: 280px;
  width: 100%;
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .attributes-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(90px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  margin: 5px 0;
  gap: 15px;
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .attributes-container .attribute-container {
  align-items: center;
  border: 2px groove;
  border-radius: 5px;
  transition: 200ms;
  color: white;
  filter: saturate(0.5);
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .attributes-container .attribute-container:hover {
  text-shadow: none;
  filter: saturate(1.1);
  transform: scale(1.1);
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .attributes-container .attribute-container.heart {
  border-color: transparent;
  box-shadow: 0px 0px 5px var(--pokeymanz-color-heart);
  background-color: var(--pokeymanz-color-heart);
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .attributes-container .attribute-container.research {
  border-color: transparent;
  box-shadow: 0px 0px 5px var(--pokeymanz-color-research);
  background-color: var(--pokeymanz-color-research);
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .attributes-container .attribute-container.fitness {
  border-color: transparent;
  box-shadow: 0px 0px 5px var(--pokeymanz-color-fitness);
  background-color: var(--pokeymanz-color-fitness);
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .attributes-container .attribute-container.tatics {
  border-color: transparent;
  box-shadow: 0px 0px 5px var(--pokeymanz-color-tatics);
  background-color: var(--pokeymanz-color-tatics);
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .attributes-container .attribute-container label {
  font-family: var(--pokeymanz-font-label);
  height: 1rem;
  font-size: 1rem;
  cursor: inherit;
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .attributes-container .attribute-container .attribute-roll {
  font-family: var(--pokeymanz-font-title);
  font-size: 2.5rem;
  width: 90%;
  display: flex;
  justify-content: center;
  border-radius: 3px;
  font-weight: bold;
}
.pokeymanz.sheet section.summary.tab .character-card .sidebar-card .attributes-container .attribute-container .attribute-roll img {
  border: 0;
  width: 2rem;
  transition: 200ms;
  filter: invert(1);
}
.pokeymanz.sheet section.summary.tab .character-card .body-card {
  min-width: 450px;
  margin-left: 15px;
  gap: 5px;
}
.pokeymanz.sheet section.summary.tab .character-card .body-card .charname {
  font-weight: bold;
  font-family: var(--pokeymanz-font-title);
  font-size: 3.5rem;
  color: var(--pokeymanz-color-ui-white);
  margin: 0.1em 0;
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid;
  height: auto;
}
.pokeymanz.sheet section.summary.tab .character-card .body-card .charname:disabled {
  border: 0;
  background-color: transparent;
}
.pokeymanz.sheet section.summary.tab .character-card .body-card .charname:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
}
.pokeymanz.sheet section.summary.tab .character-card .body-card .types-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.pokeymanz.sheet .type-badge {
  background-color: var(--type-color);
  border-radius: 25px;
  border: 3px solid white;
  box-shadow: 0 0 0.2rem;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.8rem;
  color: white;
  transition: 500ms;
  filter: saturate(0.7);
}
.pokeymanz.sheet .type-badge img {
  border: 0;
  height: 1.5rem;
}
.pokeymanz.sheet .type-badge span {
  font-size: 1.2rem;
  font-weight: bold;
}
.pokeymanz.sheet .type-badge:hover {
  box-shadow: 0 0 0.4rem;
  transform: scale(1.1);
  filter: saturate(1.1);
}
.pokeymanz.sheet .type-select-container select {
  border-radius: 25px;
  border: 2px solid;
  box-shadow: 0 0 0.4em;
  margin: 0 0.2rem;
  width: 90%;
  font-size: 1.1rem;
  text-align: center;
  font-weight: bold;
}
.theme-light .pokeymanz.sheet .type-select-container select {
  color: black;
}
