.pokeymanz {
    --main-div-color: #e55035;
    --main-div-border: #737373;
}

button:hover,
button:focus {
    box-shadow: 0 0 5px #000;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
    accent-color: var(--color-text-dark-primary);
}

.window-app .window-content {
    padding: 0;
}

.sheet header.sheet-header .profile-img {
    flex: 0 0 100px;
    height: 100px;
    margin: 0 10px;
    border-radius: 10px;
}

.sheet header.sheet-header .header-fields {
    background-color: var(--main-div-color);
    border-style: solid;
    border-width: 0 0 15px 15px;
    border-color: var(--main-div-border);
    border-radius: 0 0 0 25px;
}

.sheet header.sheet-header .header-fields .charname input {
    width: 100%;
    margin: 2px 0;
}

.sheet header.sheet-header .header-fields .details-section {
    display: flex;
    justify-content: space-between;
}

.sheet header.sheet-header .header-fields .details-section .detail {
    width: 31.9%;
}

.sheet input[type="text"] {
    background-color: rgba(0, 0, 0, 0.1);
    border: 0px;
    padding: 1px 8px;
}

.sheet header label {
    padding: 0 3px;
    font-weight: bold;
    font-size: 15px;
}

.sheet .attribute-div {
    background-color: var(--main-div-color);
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: var(--main-div-border);
    margin: 20px 30px 0 0;
    border-radius: 0 25px 25px 0;
    display: flex;
    justify-content: space-evenly;

    .attributes {
        display: grid;
        grid-template-columns: repeat(2, 70px) 20px;
        grid-gap: 10px;
        margin: 5px 0;

        .attr-box {
            display: flex;
            flex-direction: column;
            align-items: center;

            .attr-label {
                font-weight: bold;
            }

            .attribute-value {
                --height: 28px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                line-height: var(--height);
                display: flex;
            }

            .die {
                border: none;
                height: var(--height)
            }

            .modifier {
                font-size: 1.25em;
                line-height: var(--height);
                margin: 0;
                width: 100%
            }
        }

    }

    .attributes:hover .config-button {
        visibility: visible;
    }
}

.sheet .config-button {
    visibility: collapse;
    background: rgba(0, 0, 0, 0);
    border: 0;
    width: 20px;
    height: 20px;
    fill: opacity(0.5);
    padding: 0;

    .gear-svg {
        border: 0;
        filter: opacity(0.5);
    }
}

.attr-menu {
    background-color: var(--main-div-color);
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: var(--main-div-border);
    margin: 20px 25px 0 0;
    border-radius: 0 25px 25px 0;
}

.attr-menu li.element {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-evenly;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    margin: 2.5px 0;
}

.attr-menu li.element input {
    border: 0px;
    width: 50%;
    text-align: center;
    font-weight: inherit;
}

.attr-menu li.element select {
    text-align: center;
    border: 0;
    background: rgba(0, 0, 0, 0.1);
}

.dialog .dialog-buttons {
    margin: 5px;
}

.sheet .stats {
    width: 30%;
    margin: 5px 0;
    display: grid;
    grid-template-areas: "b b a" "c c .";

    .config-box {
        grid-area: a;
    }

    .toughness {
        grid-area: b;
        display: flex;
        flex-direction: column;
        align-items: center;

        .toughness-label {
            font-size: 15px;
            font-weight: bold;
        }

        .toughness-value {
            height: 32px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            line-height: var(--height);
            display: flex;
            justify-content: space-around;
            width: 70%;
            align-items: center;

            .shield {
                height: 28px;
                border: 0px;
            }

            .value {
                font-size: 1.5em;
            }

        }
    }

    .types {
        grid-area: c;
        text-align: center;
        font-size: 15px;
        font-weight: bold;

        .types-icons {
            display: flex;

            .type-box {
                transition: 200ms all;
                height: 40px;
                width: 40px;
                margin: auto;

                .type-img {
                    border: 0;
                }
            }

            .type-box:hover {
                cursor: pointer;
                filter: saturate(150%);
                transform: scale(1.1);
            }
        }
    }

}

.sheet .stats:hover .config-button {
    visibility: visible;
}

.stat-menu .toughness-box {
    background-color: var(--main-div-color);
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: var(--main-div-border);
    margin: 20px 25px 0 0;
    border-radius: 0 25px 25px 0;
}

.stat-menu .toughness-box .toughness-autocalc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 5px 5px 5px;
}

.stat-menu .toughness-box .toughness-body {
    display: flex;
    align-items: center;
}

.stat-menu .stat-menu-label {
    display: flex;
    justify-content: center;
    font-size: medium;
    font-weight: bold;
}

.stat-menu .toughness-box .toughness-value {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.stat-menu .toughness-box .toughness-value .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.stat-menu .toughness-box .toughness-value input {
    width: 20%;
    font-size: large;
    border: 0;
    background: rgba(0, 0, 0, 0.1);
}

.stat-menu .toughness-box .toughness-value input:disabled {
    color: black;
    background-color: rgba(0, 0, 0, 0);
}

.stat-menu .type-box {
    background-color: var(--main-div-color);
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: var(--main-div-border);
    margin: 20px 0 0 25px;
    border-radius: 25px 0 0 25px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .types {
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin: 0 0 10px 0;

        .input-type {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.sheet .wounds {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
    font-size: 15px;
    font-weight: bold;

    .wounds-box {
        display: flex;
        align-items: center;

        .wounds-button {
            width: 25px;
            border: 0;
            padding: 0;
            font-weight: bold;
            font-size: 35px;
        }

        .wounds-values {
            border-radius: 5px;
            width: 80px;
            display: flex;
            font-size: large;
            align-items: center;
            text-align: center;
            border: 2px solid rgba(0, 0, 0, 0.2);

            .wounds-input {
                width: 50%;
                border: 0;
                background: rgba(0, 0, 0, 0.2);
            }

            .max-value {
                width: 50%;
            }

        }
    }
}