.pokeymanz {
    --main-div-color: #e55035;
    --main-div-border: #737373;
}

.window-app .window-content,
.application .window-content {
    padding: 0;
}

.pokeymanz button:hover,
.pokeymanz button:focus,
.pokeymanz select:focus,
.pokeymanz input:focus {
    box-shadow: 0 0 5px #000;
}

.pokeymanz input[type="checkbox"]:checked,
.pokeymanz input[type="radio"]:checked {
    accent-color: var(--color-text-dark-primary);
    --checkbox-checked-color: var(--color-text-dark-primary);
}

.pokeymanz input[type="text"] {
    background-color: rgba(0, 0, 0, 0.1);
    border: 0px;
    padding: 1px 8px;
}

.pokeymanz .select-dice {
    background-color: rgba(0, 0, 0, 0.1);
    border: 0px;
    padding: 1px 8px;
    width: 95%;
    font-size: medium;
    color: var(--color-border-dark-primary);
}

.pokeymanz .config-box {
    width: 0;
}

.sheet-box {
    background-color: var(--main-div-color);
    border: solid 15px var(--main-div-border);
}

.pokeymanz header.sheet-header .profile-img {
    flex: 0 0 100px;
    height: 130px;
    margin: 0 10px;
    border-radius: 10px;
}

.pokeymanz header.sheet-header .header-fields {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-left-radius: 25px;
}

.pokeymanz header.sheet-header .header-fields .charname {
    font-size: var(--font-h1-size);
    font-family: var(--font-h1);
    height: var(--font-h1-size);
}

.pokeymanz header.sheet-header .header-fields .details-fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}

.pokeymanz header.sheet-header .header-fields .details-fields .detail-field {
    width: 32%;
}

.pokeymanz header label {
    padding: 0 3px;
    font-size: 15px;
}

.pokeymanz .attribute-div {
    padding: 0 2em;
    border-left-width: 0;
    margin: 1rem 1rem 0 0;
    border-radius: 0 25px 25px 0;
    display: flex;
    justify-content: space-evenly;
}

.pokeymanz .attribute-div .attr-sections {
    margin: 5px 0;
    min-width: 30%;
}
.pokeymanz .attribute-div .attributes {
    display: flex;
}
.pokeymanz .attribute-div .attributes .attribute-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 5px;
    padding: 0;
}

.pokeymanz .attribute-div .attributes .attr-box {
    align-items: center;
}


.pokeymanz .attribute-div .attributes .attr-box .attribute-value {
    --height: 28px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    line-height: var(--height);
    display: flex;
}

.pokeymanz .attribute-div .attributes .attr-box .die {
    border: none;
    height: var(--height)
}

.pokeymanz .attribute-div .attributes .attr-box:hover .die {
    filter: invert(88%) sepia(17%) saturate(361%) hue-rotate(324deg) brightness(112%) contrast(94%);
}

.pokeymanz .attribute-div .attributes .attr-box .modifier {
    font-size: 1.25em;
    line-height: var(--height);
    margin: 0;
    width: 100%
}

.pokeymanz .attributes:hover .config-button,
.pokeymanz .stats:hover .config-button {
    visibility: visible;
}

.pokeymanz .config-button {
    visibility: collapse;
    background: rgba(0, 0, 0, 0);
    border: 0;
    width: 20px;
    height: 20px;
    fill: opacity(0.5);
    padding: 0;
}

.attr-menu {
    border-left-width: 0;
    margin: 20px 25px 0 0;
    border-radius: 0 25px 25px 0;
}

.attr-menu li.element {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-evenly;
    font-size: 18px;
    align-items: center;
    margin: 2.5px 0;
}

.attr-menu li.element input {
    background-color: rgba(0, 0, 0, 0.1);
    border: 0px;
    width: 50%;
    text-align: center;
    font-weight: inherit;
}

.attr-menu li.element select {
    text-align: center;
    border: 0;
    background: rgba(0, 0, 0, 0.1);
}

.dialog .dialog-buttons {
    margin: 5px;
}

.pokeymanz .stats .config-box {
    grid-area: a;
}

.pokeymanz .stats .toughness {
    grid-area: b;
    align-items: center;
}

.pokeymanz .stats .toughness .toughness-label {
    font-size: 15px;
}

.pokeymanz .stats .toughness .toughness-value {
    height: 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    line-height: var(--height);
    display: flex;
    justify-content: space-around;
    width: 70%;
    align-items: center;
}

.pokeymanz .stats .toughness .toughness-value .value {
    font-size: 1.5em;
}

.pokeymanz .stats .types {
    grid-area: c;
    text-align: center;
    font-size: 15px;
}

.pokeymanz .stats .types .types-icons {
    display: flex;
}

.pokeymanz .stats .types .types-icons .type-box {
    transition: 100ms all;
    height: 40px;
    width: 40px;
    margin: auto;

    .type-img {
        border: 0;
    }
}

.pokeymanz .stats .types .types-icons .type-box:hover {
    cursor: pointer;
    filter: saturate(150%);
    transform: scale(1.1);
}

.pokeymanz .stats {
    margin: 5px 0;
    display: grid;
    grid-template-areas: "b b a" "c c .";
}

.pokeymanz .wounds {
    align-items: center;
    margin: 5px 0;
    font-size: 15px;
}

.pokeymanz .wounds .wounds-box {
    display: flex;
    align-items: center;
}

.pokeymanz .wounds .wounds-box .wounds-button {
    width: 25px;
    border: 0;
    padding: 0;
    font-size: 35px;
}

.pokeymanz .wounds .wounds-box .wounds-values {
    border-radius: 5px;
    width: 80px;
    display: flex;
    font-size: large;
    align-items: center;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.pokeymanz .wounds .wounds-box .wounds-values .wounds-input {
    width: 50%;
    border: 0;
    background: rgba(0, 0, 0, 0.2);
}

.pokeymanz .wounds .wounds-box .wounds-values .max-value {
    width: 50%;
}

.item .item-text-box {
    margin: 20px 10px 0 10px;
    border-radius: 25px;
}

.item .item-text-box h2 {
    margin: 0;
    padding-left: 10px;
}

.item .item-text-box .editor {
    min-height: 10vh;
    background-color: rgba(0, 0, 0, 0.1);
}

.item .item-text-box .editor .editor-content {
    padding: 0 15px;
}

.item .item-text-box .prosemirror .editor-container {
    min-height: 100px;
}

.item header .item-type-value {
    padding: 3.5px 5px;
    font-size: medium;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0;
    border-radius: 3px;
}