.pokeymanz {
    --main-div-color: #e55035;
    --main-div-border: #737373;
}

input[type="checkbox"]:checked, input[type="radio"]:checked{
    accent-color: var(--color-text-dark-primary);
}

.window-app .window-content {
    padding: 0;
}

.sheet header.sheet-header h1 input {
    width: 100%;
    margin: 2px 0;
}

.sheet header.sheet-header img {
    flex: 0 0 100px;
    height: 100px;
    margin: 0 10px;
    border-radius: 10px;
}

.sheet .header-fields {
    background-color: var(--main-div-color);
    border-style: solid;
    border-width: 0 0 15px 15px;
    border-color: var(--main-div-border);
    border-radius: 0 0 0 25px;
}

.sheet .details-section {
    display: flex;
    justify-content: space-between;
}

.sheet .details-section .detail {
    width: 31.9%;
}

.sheet input[type="text"] {
    background-color: rgba(0, 0, 0, 0.1);
    border: 0px;
    padding: 1px 8px;
}

.sheet header label {
    padding: 0 3px;
    font-weight: bold;
    font-size: 15px;
}

.sheet .attribute-fields {
    background-color: var(--main-div-color);
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: var(--main-div-border);
    margin: 20px 30px 0 0;
    border-radius: 0 25px 25px 0;
    display: flex;
    justify-content: space-evenly;
}

.sheet .attributes {
    display: grid;
    grid-template-columns: repeat(2, 70px) 20px;
    grid-gap: 10px;
    margin: 5px 0;
}

.sheet .attributes:hover .config-button {
    visibility: visible;
}

.sheet .attributes .attribute-value {
    --height: 28px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    line-height: var(--height);
    display: flex;
}

.sheet .attributes .die {
    border: none;
    height: var(--height)
}

.sheet .attributes .modifier {
    font-size: 1.25em;
    line-height: var(--height);
    margin: 0;
    width: 100%
}

.sheet .attributes .attr-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sheet .attributes .attr-label {
    font-weight: bold;
}

.sheet .config-button {
    visibility: collapse;
    background: rgba(0, 0, 0, 0);
    border: 0;
    width: 20px;
    height: 20px;
    fill: opacity(0.5);
    padding: 0;
}

.sheet .gear-svg {
    border: 0;
    filter: opacity(0.5);
}

.attr-menu {
    background-color: var(--main-div-color);
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: var(--main-div-border);
    margin: 20px 25px 0 0;
    border-radius: 0 25px 25px 0;
}

.attr-menu li.element {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-evenly;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    margin: 2.5px 0;
}

.attr-menu li.element input {
    border: 0px;
    width: 50%;
    text-align: center;
    font-weight: inherit;
}

.attr-menu li.element select {
    text-align: center;
    border: 0;
    background: rgba(0, 0, 0, 0.1);
}

.dialog .dialog-buttons{
    margin: 5px;
}

.sheet .stats{
    margin: 5px 0;
}
.sheet .stats .config-box{
    float: right;
}

.sheet .stats:hover .config-button {
    visibility: visible;
}

.sheet .stats .toughness label{
    font-size: 15px;
    font-weight: bold;
}

.sheet .stats .toughness-value {
    height: 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    line-height: var(--height);
    display: flex;
    justify-content: space-around;
    width: 40%;
    align-items: center;
}

.sheet .stats .toughness-value .shield{
    height: 28px;
    border: 0px;
}

.sheet .stats .toughness-value .value{
    font-size: 1.5em;
}

.sheet .stats .toughness{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-menu .toughness-box{
    background-color: var(--main-div-color);
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: var(--main-div-border);
    margin: 20px 25px 0 0;
    border-radius: 0 25px 25px 0;
}

.stat-menu .toughness-box .toughness-autocalc{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 5px 5px 5px;
}

.stat-menu .toughness-box .toughness-body{
    display: flex;
    align-items: center;
}

.stat-menu .toughness-box .toughness-label{
    display: flex;
    justify-content: center;
    font-size: medium;
    font-weight: bold;
}

.stat-menu .toughness-box .toughness-value{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.stat-menu .toughness-box .toughness-value .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.stat-menu .toughness-box .toughness-value input{
    width: 20%;
    font-size: large;
    border: 0;
    background: rgba(0, 0, 0, 0.1);
}
.stat-menu .toughness-box .toughness-value input:disabled{
    color: black;
    background-color: rgba(0, 0, 0, 0);
}