@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&family=Signika+Negative:wght@300..700&display=swap");
.pokeymanz {
  --pokeymanz-font-title: "Signika", "Palatino Linotype", sans-serif;
  --pokeymanz-font-label: "Sigmar One", sans-serif;
  --pokeymanz-font-itemtype: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
}

.pokeymanz {
  --pokeymanz-color-ui-red: #C6242C;
  --pokeymanz-color-ui-white: #fbfbfb !important;
  --pokeymanz-color-ui-black: #383939 !important;
  --pokeymanz-color-card-light: #818078;
  --pokeymanz-color-card-dark: #222222;
  --pokeymanz-color-research: #2c94bb;
  --pokeymanz-color-heart: #ff3750;
  --pokeymanz-color-tactics: #087608;
  --pokeymanz-color-fitness: #f86522;
  --pokeymanz-color-toughness-primary: #002b77;
  --pokeymanz-color-toughness-secondary: #3f6ab8;
  --pokeymanz-color-wounds-primary: #941100;
  --pokeymanz-color-wounds-secondary: #ce3922;
}

.theme-light .pokeymanz.sheet {
  --background-color: var(--pokeymanz-color-ui-white);
  --card-color: var(--pokeymanz-color-card-light);
  --text-color: black;
}
.theme-dark .pokeymanz.sheet {
  --background-color: var(--pokeymanz-color-ui-black);
  --card-color: var(--pokeymanz-color-card-dark);
  --text-color: white;
}

.pokeymanz.sheet .spacing--p-0 {
  padding: 0;
}
.pokeymanz.sheet .spacing--p-sm {
  padding: 0.5rem;
}
.pokeymanz.sheet .spacing--p-md {
  padding: 1rem;
}
.pokeymanz.sheet .spacing--p-lg {
  padding: 1.5rem;
}
.pokeymanz.sheet .spacing--m-0 {
  margin: 0;
}
.pokeymanz.sheet .spacing--m-sm {
  margin: 0.5rem;
}
.pokeymanz.sheet .spacing--m-md {
  margin: 1rem;
}
.pokeymanz.sheet .spacing--m-lg {
  margin: 1.5rem;
}

.attributes-container {
  margin: 5px 0;
}
.attributes-container .heart {
  --attribute-color: var(--pokeymanz-color-heart);
}
.attributes-container .research {
  --attribute-color: var(--pokeymanz-color-research);
}
.attributes-container .fitness {
  --attribute-color: var(--pokeymanz-color-fitness);
}
.attributes-container .tactics {
  --attribute-color: var(--pokeymanz-color-tactics);
}
.attributes-container .rollable-button,
.attributes-container .rollable-inputs {
  background: var(--attribute-color);
}

.move-container {
  align-items: flex-start;
}
.move-container .move-portrait {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.4rem 0rem 0.4rem 0.4rem;
  padding: 0.5rem 0.5rem 0.5rem 0.1rem;
}
.move-container .move-portrait .drag-line {
  cursor: all-scroll;
  display: flex;
  justify-content: center;
  width: 0.3rem;
  height: 4rem;
  padding: 0 0.5rem;
}
.move-container .move-portrait .drag-line i {
  padding: 0 0.1rem;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 1rem;
  transition: 500ms;
}
.move-container .move-portrait .drag-line:hover i {
  background-color: white;
}
.move-container .move-portrait .img-portrait {
  cursor: pointer;
  position: relative;
  width: 4rem;
  height: 4rem;
}
.move-container .move-portrait .img-portrait img {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  object-fit: cover;
  transition: opacity 300ms ease;
  border-radius: 0.4rem;
}
.move-container .move-portrait .img-portrait .roll-icon {
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0;
}
.move-container .move-portrait .img-portrait:hover .roll-icon {
  opacity: 1;
}
.move-container .move-accordion {
  flex: 1;
}
.move-container .move-accordion .move-header {
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 0.4rem 0.4rem 0;
}
.move-container .move-accordion .move-header .move-name {
  font-size: 1.6rem;
  flex-grow: 1;
  height: 1.8rem;
  color: white;
  min-width: 200px;
}
.move-container .move-accordion .move-header .move-type {
  margin: auto 1.5rem;
}
.move-container .move-accordion .move-header .move-menu {
  font-size: 1.2rem;
  margin: auto;
  padding: 0 0.2rem;
}
.move-container .move-accordion .move-content {
  margin-right: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.1rem 0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
}
.move-container .move-accordion .move-content .description-content {
  min-height: 3rem;
  overflow: hidden;
}
.move-container .move-accordion .move-content .description-content * {
  word-break: break-word;
}
.move-container.empty-move {
  cursor: pointer;
  align-items: center;
  font-size: 2.5rem;
  border: 0.4rem dashed rgba(0, 0, 0, 0.4);
  transition: border-color 700ms;
}
.move-container.empty-move .create-doc-icon {
  margin: 0.5rem 0;
  transition: color 500ms, transform 500ms;
  color: rgba(0, 0, 0, 0.4);
}
.move-container.empty-move:hover {
  border-color: rgba(0, 0, 0, 0.7);
}
.move-container.empty-move:hover .create-doc-icon {
  color: rgba(0, 0, 0, 0.7);
  transform: scale(1.1);
}

.pokemon-list {
  min-height: 135px;
  overflow-x: auto;
  flex-wrap: nowrap;
}

section.summary.tab .sidebar-card {
  width: max(30%, 230px);
  min-width: 230px;
}
section.summary.tab .sidebar-card .portrait .profile-img {
  min-height: 200px;
  max-height: 280px;
  width: 100%;
}
section.summary.tab .sidebar-card .stat-bar {
  margin: 0.4rem 0;
}
section.summary.tab .sidebar-card .stat-bar .stat-container {
  border-radius: 0.3rem;
  border: 3px solid;
}
section.summary.tab .sidebar-card .stat-bar .stat-container .stat-input {
  font-size: 1.5rem;
  height: 1.5rem;
  width: 2.5ch;
  border: 0;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.1);
  line-height: 0;
}
section.summary.tab .sidebar-card .stat-bar .stat-container .stat-input:focus, section.summary.tab .sidebar-card .stat-bar .stat-container .stat-input:hover {
  background: rgba(0, 0, 0, 0.2);
  outline: none;
  box-shadow: none;
}
section.summary.tab .sidebar-card .stat-bar .stat-container .stat-input:disabled {
  background: transparent;
}
section.summary.tab .sidebar-card .stat-bar .stat-container .stat-icon {
  font-size: 1.3rem;
  margin: 0 0.2rem;
}
section.summary.tab .sidebar-card .stat-bar .stat-container.toughtness-container {
  border-color: var(--pokeymanz-color-toughness-primary);
  background-color: var(--pokeymanz-color-toughness-secondary);
  box-shadow: 0 0 5px var(--pokeymanz-color-toughness-secondary);
}
section.summary.tab .sidebar-card .stat-bar .stat-container.toughtness-container .stat-icon {
  color: var(--pokeymanz-color-toughness-primary);
}
section.summary.tab .sidebar-card .stat-bar .stat-container.wounds-container {
  border-color: var(--pokeymanz-color-wounds-primary);
  background-color: var(--pokeymanz-color-wounds-secondary);
  box-shadow: 0 0 5px var(--pokeymanz-color-wounds-secondary);
}
section.summary.tab .sidebar-card .stat-bar .stat-container.wounds-container .stat-icon {
  color: var(--pokeymanz-color-wounds-primary);
}
section.summary.tab .sidebar-card .stat-bar .stat-container.wounds-container span {
  font-size: 1.5rem;
  height: 1.5rem;
  color: var(--pokeymanz-color-wounds-primary);
  font-weight: bold;
  line-height: 1;
}
section.summary.tab .sidebar-card .types-container {
  justify-content: center;
  margin: 0.3rem 0;
}
section.summary.tab .sidebar-card .types-container .type-badge {
  flex: 1;
  max-width: 50%;
}
section.summary.tab .sidebar-card .trainer-fields-container {
  padding: 5px 0;
}
section.summary.tab .sidebar-card .trainer-fields-container .trainer-portrait img {
  height: 70px;
  width: 70px;
  border-radius: 10px 10px 0 0;
  border: 3px solid var(--pokeymanz-color-ui-red);
  object-fit: cover;
  object-position: top center;
}
section.summary.tab .sidebar-card .trainer-fields-container .edit-switch-contianer {
  color: var(--pokeymanz-color-ui-red);
  background: var(--pokeymanz-color-ui-black);
  padding: 5px;
  border-radius: 0 0 10px 10px;
  border: 3px solid var(--pokeymanz-color-ui-red);
  border-top: 0px;
  width: 70px;
}
section.summary.tab .sidebar-card .trainer-fields-container .edit-switch-contianer .switch-icon {
  font-size: 12px;
  transition: 500ms;
  opacity: 0.7;
}
section.summary.tab .sidebar-card .trainer-fields-container .edit-switch-contianer .switch-icon.active {
  transform: scale(1.2);
  opacity: 1;
}
section.summary.tab .sidebar-card .trainer-fields-container .edit-switch-contianer .switch-btn {
  height: 20px;
  font-size: 20px;
  margin: 0 5px;
}
section.summary.tab .sidebar-card .trainer-fields-container .tainer-container {
  align-items: center;
  justify-content: space-evenly;
}
section.summary.tab .body-container {
  width: max(70%, 280px);
  min-width: 280px;
  margin-left: 10px;
}
section.summary.tab .body-container .details-container {
  flex-wrap: wrap;
}

.item section.summary.tab .sidebar-card {
  width: max(30%, 190px);
  min-width: 190px;
}
.item section.summary.tab .sidebar-card .portrait .profile-img {
  min-height: 160px;
  max-height: 230px;
  width: 100%;
}
.item section.summary.tab .body-container {
  width: max(70%, 200px);
  min-width: 200px;
  margin-left: 10px;
}

.summary-header {
  --profile-img-width: max(20%, 130px);
}
.summary-header .portrait {
  width: calc(var(--profile-img-width) + 1rem);
  padding: 0 0.5rem;
}
.summary-header .portrait .profile-img {
  border-radius: 10px;
  border: 0.3em solid var(--pokeymanz-color-ui-red);
  object-fit: cover;
  object-position: top center;
  width: var(--profile-img-width);
  height: var(--profile-img-width);
  max-height: 200px;
}
.summary-header .summary-inputs {
  width: calc(100% - var(--profile-img-width) - 1rem);
}
.summary-header .summary-inputs input.document-name {
  font-size: 3rem;
  height: 3rem;
}

.description-container .description-header {
  align-items: center;
  align-content: center;
  padding: 0.4rem 1rem 0.4rem 0.6rem;
  font-size: large;
  background-color: var(--pokeymanz-color-ui-red);
  border-radius: 0.4rem 0.4rem 0 0;
  color: white;
  font-weight: bold;
  margin: 0;
  margin-top: 0.5rem;
}
.description-container .description-content {
  background-color: rgba(0, 0, 0, 0.3);
}

header.pokeymanz-sheet-header .edit-switch-contianer {
  color: var(--pokeymanz-color-ui-red);
  flex: 1;
  margin: auto 15px;
}
header.pokeymanz-sheet-header .edit-switch-contianer .switch-icon {
  font-size: 0.7rem;
  transition: 500ms;
  opacity: 0.7;
}
header.pokeymanz-sheet-header .edit-switch-contianer .switch-icon.active {
  transform: scale(1.2);
  opacity: 1;
}
header.pokeymanz-sheet-header .edit-switch-contianer .switch-btn {
  height: 1.4rem;
  font-size: 1.4rem;
  margin: 0 4px;
}
header.pokeymanz-sheet-header .sheet-tabs {
  flex: 0;
  background: var(--pokeymanz-color-ui-red);
  clip-path: polygon(100% 0, 100% 100%, 1.5rem 100%, 0 0);
  border: 0;
  padding-left: 2rem;
  padding-right: 0.7rem;
}
header.pokeymanz-sheet-header .sheet-tabs .tab-icon-button {
  font-size: 1.5rem;
  color: var(--pokeymanz-color-ui-white);
  opacity: 0.6;
  transform: scale(0.8);
  transition: 800ms;
}
header.pokeymanz-sheet-header .sheet-tabs .tab-icon-button.active {
  text-shadow: none;
  transform: scale(1);
  opacity: 1;
}
header.pokeymanz-sheet-header .sheet-tabs > [data-tab] {
  padding: 5px;
}

.pokeymanz ol.items-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pokeymanz ol.items-list .item-list {
  list-style: none;
  background-color: rgba(0, 0, 0, 0.3);
}
.pokeymanz ol.items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  text-align: left;
  align-items: center;
  display: flex;
}
.pokeymanz ol.items-list .item-controls {
  display: flex;
  flex: 0 0 70px;
  justify-content: flex-end;
}
.pokeymanz ol.items-list .item-controls a {
  text-align: center;
  margin: 0 6px;
}
.pokeymanz ol.items-list .item {
  padding: 1px 0.4rem;
  align-items: center;
  border-bottom: 1px solid;
}
.pokeymanz ol.items-list .item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.pokeymanz ol.items-list .item:last-child {
  border-bottom: none;
}
.pokeymanz ol.items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.pokeymanz ol.items-list .item .item-type,
.pokeymanz ol.items-list .item .item-price,
.pokeymanz ol.items-list .item .item-subtype,
.pokeymanz ol.items-list .item .item-controls,
.pokeymanz ol.items-list .item .effect-source,
.pokeymanz ol.items-list .item .effect-duration {
  font-size: 0.9rem;
  height: 1rem;
  text-align: center;
  border-left: 3px solid #c9c7b8;
  border-right: 3px solid #c9c7b8;
}
.pokeymanz ol.items-list .item .item-type,
.pokeymanz ol.items-list .item .item-controls,
.pokeymanz ol.items-list .item .effect-source {
  flex-wrap: nowrap;
  border: none;
}
.pokeymanz ol.items-list .items-header {
  align-items: center;
  align-content: center;
  padding: 0.4rem 1rem 0.4rem 0.6rem;
  font-size: large;
  background-color: var(--pokeymanz-color-ui-red);
  border-radius: 0.4rem 0.4rem 0 0;
  color: white;
  font-weight: bold;
  margin: 0;
  margin-top: 0.5rem;
}
.pokeymanz ol.items-list .items-header > * {
  text-align: center;
}
.pokeymanz ol.items-list .items-header .accordion-icon {
  flex: 0;
}
.pokeymanz ol.items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}

.rollable-button,
.rollable-inputs {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  border-radius: 5px;
  padding: 0 5px;
  color: white;
  transition: 200ms;
  filter: saturate(0.8);
  box-shadow: 0 0 5px var(--attribute-color);
  background: var(--pokeymanz-color-ui-red);
}

.rollable-label {
  font-family: var(--pokeymanz-font-label);
  line-height: 1rem;
  font-size: 15px;
  cursor: inherit;
}

.rollable-button:hover {
  filter: saturate(1.1);
  transform: scale(1.1);
  text-shadow: none;
}
.rollable-button .rollable-frame {
  font-family: var(--pokeymanz-font-title);
  font-size: 2rem;
  width: 90%;
  font-weight: bold;
}
.rollable-button .rollable-frame img {
  width: 2rem;
  filter: invert(1);
  transition: 200ms;
  border: 0;
}

.rollable-inputs {
  padding-bottom: 2px;
}
.rollable-inputs .rollable-label {
  flex: 1 1 100%;
  text-align: center;
}
.rollable-inputs .rollable-dice-side select,
.rollable-inputs .rollable-dice-mod input {
  text-align: center;
  font-size: 1.1rem;
  border: 0;
  padding: 0 0.5ch;
  min-width: 0;
}
.rollable-inputs .rollable-dice-side {
  width: 7ch;
  flex: 2;
}
.rollable-inputs .rollable-dice-mod {
  width: 3.3ch;
  flex: 1;
}

.pokeymanz .pokemon-card.card {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.pokeymanz .pokemon-card.card .portrait img {
  width: 75px;
  height: 75px;
  border-width: 3px;
}
.pokeymanz .pokemon-card.card .pokemon-controls {
  justify-content: space-around;
  font-size: 15px;
  margin-top: 5px;
}

.pokeymanz .card {
  background: var(--card-color);
  margin: 5px;
  margin-bottom: auto;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 0 0.4em;
  -moz-box-shadow: 0 0 0.4em;
  -webkit-box-shadow: 0 0 0.4em;
}
.pokeymanz .card .portrait .profile-img {
  border-radius: 10px;
  border: 4px solid var(--pokeymanz-color-ui-red);
  object-fit: cover;
  object-position: top center;
}

.pokeymanz .fix-context-menu #context-menu {
  font-size: 0.9rem;
  text-shadow: none;
  min-width: 120px;
}
.pokeymanz .fix-context-menu #context-menu li.context-item {
  line-height: 1rem;
  margin: 0;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.pokeymanz .fix-context-menu.aling--right #context-menu {
  right: 0;
  left: auto;
}

.pokeymanz input.document-name {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: var(--pokeymanz-font-title);
  margin: 0.1em 0;
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid;
  height: auto;
  color: var(--text-color);
}
.body-container .pokeymanz input.document-name {
  font-size: 3.5rem;
}
.pokeymanz input.document-name:disabled {
  background-color: transparent;
  border: 0;
}
.pokeymanz input.document-name:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
}

.pokeymanz .item-type-fields {
  margin: 0.3rem 0;
}
.pokeymanz .item-type-fields .item-type-badge {
  width: auto;
  white-space: nowrap;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 2px;
  line-height: inherit;
  font-size: 1rem;
  font-family: var(--pokeymanz-font-itemtype);
  font-weight: bold;
}
.pokeymanz .item-type-fields .item-type-badge:disabled {
  appearance: none;
  padding: 0 0.5rem;
}

.pokeymanz div.input-group {
  height: 2rem;
  background: var(--pokeymanz-color-ui-red);
  border-radius: 5px;
  overflow: hidden;
  color: var(--pokeymanz-color-ui-white);
  margin: 0 0.2rem;
  flex-grow: 1;
  flex-shrink: 1;
}
.pokeymanz div.input-group.size--xsmall {
  max-width: 5rem;
}
.pokeymanz div.input-group.size--small {
  max-width: 8rem;
}
.pokeymanz div.input-group.size--medium {
  max-width: 12rem;
}
.pokeymanz div.input-group.size--large {
  flex-basis: 100%;
}
.pokeymanz div.input-group input.input-group-field {
  font-size: 1.5rem;
  text-align: center;
  border-radius: 0;
  border: 0;
  color: var(--pokeymanz-color-ui-white);
  text-overflow: ellipsis;
}
.pokeymanz div.input-group input.input-group-field:disabled {
  pointer-events: all;
  cursor: text;
}
.pokeymanz div.input-group label.input-group-label {
  padding: 0 0.5rem;
  font-weight: bold;
}
.pokeymanz div.input-group i.input-group-icon {
  font-size: 1.2rem;
  padding: 0 0.4rem;
}
.pokeymanz div.input-group img.input-group-img {
  margin: auto;
  border: 0;
  background: rgba(0, 0, 0, 0.2);
  padding: 0.4rem;
  height: inherit;
}

.pokeymanz .type-select-container select {
  border-radius: 10px;
  border: 1px solid;
  box-shadow: 0 0 2px;
  font-size: 18px;
  height: 25px;
  text-align: center;
  font-weight: bold;
  color: var(--text-color);
}
.pokeymanz .type-select-container select option {
  text-align: left;
}

.pokeymanz .type-badge {
  color: white;
  min-width: max-content;
  padding-left: 0.4em;
  padding-right: 0.6em;
  background-color: var(--type-color);
  border: 3px solid white;
  box-shadow: 0 0 0.2rem;
  border-radius: 25px;
  transition: transform 300ms ease, filter 300ms ease, box-shadow 300ms ease;
  filter: saturate(0.7);
  transform: scale(0.9);
}
.pokeymanz .type-badge:hover {
  filter: saturate(1.1);
  transform: scale(1);
}
.pokeymanz .type-badge img {
  border: 0;
  height: 1.5em;
}
.pokeymanz .type-badge span {
  font-size: 1.5em;
  font-weight: bold;
}
.pokeymanz .type-badge.size--small {
  padding-left: 0.3em;
  padding-right: 0.5em;
  border-radius: 20px;
}
.pokeymanz .type-badge.size--small img {
  height: 1.4em;
}
.pokeymanz .type-badge.size--small span {
  font-size: 1.3em;
}
.pokeymanz .type-badge.size--medium {
  padding-left: 0.4em;
  padding-right: 0.6em;
  border-radius: 25px;
}
.pokeymanz .type-badge.size--medium img {
  height: 1.5em;
}
.pokeymanz .type-badge.size--medium span {
  font-size: 1.5em;
}
.pokeymanz .type-badge.size--large {
  padding-left: 0.6em;
  padding-right: 0.8em;
  border-radius: 30px;
}
.pokeymanz .type-badge.size--large img {
  height: 1.8em;
}
.pokeymanz .type-badge.size--large span {
  font-size: 1.7em;
}

.note-container .note-header {
  align-items: center;
  align-content: center;
  padding: 0.4rem 1rem 0.4rem 0.6rem;
  font-size: large;
  background: var(--pokeymanz-color-ui-red);
  border-radius: 0.4rem 0.4rem 0 0;
  color: white;
  font-weight: bold;
  margin: 0;
  margin-top: 0.5rem;
}
.note-container .note-header * {
  margin: auto 5px;
}
.note-container .note-content {
  background: rgba(0, 0, 0, 0.3);
}
.note-container .note-content prose-mirror {
  margin: 5px 10px;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.gap-sm {
  gap: 0.5rem;
}

.gap-md {
  gap: 1rem;
}

.gap-lg {
  gap: 2rem;
}

.grid {
  display: grid;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, 1fr);
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-cols-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-cols-6 {
  grid-template-columns: repeat(6, 1fr);
}

.grid-rows-1 {
  grid-template-rows: repeat(1, 1fr);
}

.grid-rows-2 {
  grid-template-rows: repeat(2, 1fr);
}

.grid-rows-3 {
  grid-template-rows: repeat(3, 1fr);
}

.place-center {
  place-items: center;
}

.place-start {
  place-items: start;
}

.place-end {
  place-items: end;
}

.pokeymanz.sheet {
  background-color: var(--background-color);
}
.pokeymanz.sheet header.window-header {
  border: 0;
  background-color: var(--pokeymanz-color-ui-red);
}
.pokeymanz.sheet section.window-content {
  padding: 0;
  overflow: auto;
  scrollbar-color: var(--pokeymanz-color-ui-red) rgba(0, 0, 0, 0.3);
}
.pokeymanz.sheet section.tab {
  margin: 10px;
}
